<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('./includes/head.ejs') %>





</head>
<body>
        <%- include('./includes/navigation.ejs') %>

    
    <div class="container">
        <p>Check the boxes to pick the events you are interested in!</p>
        Event types:
          
        
        <select id="select1"> 
                <option value="Tech">Tech</option> 
                <option value="Sports">Sports</option> 
                <option value="Recreational">Recreational</option> 
                <option value="Education">Education</option>
            </select>
       
            <button onClick="getData()">Generate events!</button>
    </div>
    
    <div id="mainContent">


        </div>
        <script src="../users.js">
        



        
        
        </script>
        
</body>
</html>