<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('./includes/head.ejs') %>





</head>
<body>
        <%- include('./includes/navigation.ejs') %>

    <h1>henlo</h1>
    <button onClick="getData()">get qrcode </button>
    <div id="mainContent">


        </div>
        <script>
        
var main = document.querySelector('#mainContent');


async function getData(){
    
    const response = await fetch('/users/api');
    const data = await response.json();
    console.log(data);
 
    for ( i = 0 ; i < data.length ; i++){
         var div = document.createElement('div');
         var name = document.createElement('h1');
         var qrImage = document.createElement('img');
         var image = document.createElement('img');
         var date = document.createElement('p');
         var qrcodeUrl = data[i].qrcode ;
         var imageUrl = data[i].imageUrl ;
         var eventName = data[i].name;
         var eventDate = data[i].date;
         div.setAttribute('class','container');
         date.textContent = eventDate;
         qrImage.setAttribute('src',qrcodeUrl);
         qrImage.setAttribute('width','300');
         qrImage.setAttribute('height','300');
         image.setAttribute('src',imageUrl);
         name.textContent = eventName;
         div.appendChild(name);
         div.appendChild(image);
         div.appendChild(qrImage);
         div.appendChild(date);
         main.appendChild(div);
         
    }
 }

//jquery functions

$( function() {
    $( "#datepicker" ).datepicker();
} );

        
        
        </script>
        
</body>
</html>