<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
</head>
<body>
   
        
      
    <nav>
        <a href="/users/hello">hello</a>



    </nav>
    <h1>best event organiser app in UNVIERSE</h1>
    <p>
            events: 



    </p>

        
    <p>
       Name of Event Org: <input type="text" id="orgname" /><br>
       Image URL of event: <input type="text" id="eventPicUrl" /><br>
       Date : <input type="text" id="datepicker">
    </p>

    
    <button onClick="getQRCode()">get location</button>
    
    
    
    <div id="mainContent">


        </div>
        <script src="users.js"></script>
   
</body>
</html>