<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
<body>
   
        
      
        <%- include('./includes/navigation.ejs') %>
    
    <p>
            



    </p>

    <div class="container"> 
       
       Name of Event Org: <input type="text" id="orgname" /><br>
       Sign Up Link to event: <input type="text" id="eventUrl" /><br>
       Image URL poster for the event <input type="text" id="imageUrl"><br>
       Date : <input type="text" id="datepicker"><br>
       Event tags: 
       <label class="checkbox-inline"><input type="checkbox" value="">Tech</label>
       <label class="checkbox-inline"><input type="checkbox" value="">Sports</label>
       <label class="checkbox-inline"><input type="checkbox" value="">Recreation</label>
       <label class="checkbox-inline"><input type="checkbox" value="">Educational</label><br>
       <button onClick="getQRCode()">Add Event</button>
    </div>   

    
    

    
    
    
    
    <div id="mainContent">


        </div>
        <script src="users.js"></script>
   
</body>
</html>