<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="<%= path === '/users' ? 'active' : '' %>"><a href="/users">Add Events</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="<%= path === '/users/hello' ? 'active' : '' %>"><a href="/users/hello">View Events</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a onClick="logOut()"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
            <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
          </ul>
        </div>
      </nav> 